/* Fonts - constructed at https://fonts.google.com. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Variables */
:root {
  /* Colors */
  --top-nav-link-color: #777;
  --top-nav-link-color-hover: #222;
  --top-nav-link-color-current: #000;
  --bright-link-color: #2429B2;
  --prev-next-proj-link-color: #A5A5A5;
  --prev-next-proj-link-color-hover: #444;
  --bright-link-color-hover: #000AFF;
  --color-text-default: #080707;
  --color-text-alt: #908f8f;
  --color-section-alt: rgba(13, 38, 18, 0.05);
  --color-project-hampay: #48aec4;
  --color-project-iterant: #8bda89;
  --color-project-keycons: #cc7d24;
  --color-project-museum: #b28650;
  --color-project-nicu: #7578ba;
  --color-project-speakout: #FFD600;
  --color-project-vox: #5C9DE1;
  --color-project-default: #00AAFF;
  /* Fonts */
  --font-family-default: "Open Sans", "Helvetica-Neue", sans-serif; 
  --font-family-alt: "Poppins", "Helvetica-Neue", sans-serif;
  /* Dimensions */
  --header-content-tall-height: 80px;
  --header-content-short-height: 33px;
  --header-shadow-height: 20px;
  --content-width: min(1280px, 100%);
  --content-width-narrow: min(740px, 90vw);
  --content-width-narrow2: min(786px, 90vw);
  --hero-img-width: 840px;
  --hero-img-offset: 107px;
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: disc outside;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/* Styles */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: #fafafa;
  font-family: var(--font-family-default);
  text-align: left;
  color: var(--color-text-default);
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: var(--font-family-alt);
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 120%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 8px;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--color-text-alt);
  margin-top: 0px;
  margin-bottom: 32px;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 200%
}

h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 32px;
  color:var(--color-text-alt)
}

hr {
  height: 0.1px;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-bottom-width: 1px;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 200%;
  margin-top: 0px;
  margin-bottom: 32px;
}

p.caption {
  font-style: italic;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--color-text-alt);
  margin-top: 0px;
  margin-bottom: 32px;
}

.credits {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-text-alt);
  margin-top: 0px;
  margin-bottom: 16px;
}

ul {
  font-weight: 300;
  line-height: 200%;
  padding-left: 18px;
  margin-top: -24px;
  margin-bottom: 32px;
}

b, strong {
  font-weight: 600;
}

a, a:visited {
  color: var(--top-nav-link-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--top-nav-link-color-hover);
}

a.negate-hover:hover {
  color: var(--top-nav-link-color);  /* For text */
  filter: brightness(100%);  /* For images */
  text-decoration: none;
  cursor: default;
}

a.bright-link, a.bright-link:visited {
  color: var(--bright-link-color);
  text-decoration: none;
  cursor: pointer;
}

a.bright-link:hover {
  color: var(--bright-link-color-hover);
}

.company-name {
  color: var(--color-text-alt);
}

.heading { /* Naming this header seems to cause subtle problems... */
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-content {
  height: var(--header-content-tall-height);
  width: 100%;
  background-color: white;
  overflow: hidden;
  transition: height 300ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-content-inner {
  width: var(--content-width-narrow);
  background-color: white;
  overflow: hidden;
  transition: height 300ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-content-short {
  /* Over-ride to shorten header height */
  height: var(--header-content-short-height);
}

.header-shaddow {
  height: var(--header-shadow-height);
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

.header-line1-link {
  font-family: var(--font-family-alt);
  font-size: 1.6rem;
  color: var(--top-nav-link-color);
  text-decoration: none;
  margin: 0px;
  white-space: nowrap;
}
.header-line1-link:visited {
  color: var(--top-nav-link-color);
  text-decoration: none;
}
.header-line1-link:hover {
  color: var(--top-nav-link-color-hover);
}
.header-line1-link.home {
  font-family: var(--font-family-alt);
  font-size: 1.6rem;
}
.header-line1-link.current {
  color: var(--top-nav-link-color-current);
  text-decoration: none;
}

.header-line1 {
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.header-line1-left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header-line1-right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header-line2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  white-space: nowrap;
}

.header-line2-title {
  margin-top: 2px;
  font-family: var(--font-family-alt);
  font-size: 1.4rem;
  font-weight: 200;
  touch-action: none;
}

.footer {
  padding-bottom: 20px;
}

.footer-line {
  text-align: center;
  color: gray;
}

.footer-contact-link {
  filter: brightness(100%);
}
.footer-contact-link:visited {
  filter: brightness(100%); /* Same as normal value */
}
.footer-contact-link:hover {
  filter: brightness(0%);
}
.footer-contact-link:active {
  filter: brightness(100%);
}

.page {
  position: relative;
  background-color: white;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--header-content-tall-height);
  transition: padding-top 300ms ease;  /* Keep in sync with header-content transition type & length */
}

section {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;  /* Enables absolute positioning of children in corners, etc */
}

.block-bg-light {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-bg-dark {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.block-fg-narrow {
  flex: 1 1 auto;
  width: var(--content-width-narrow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;  /* Enables absolute positioning of children in corners, etc */
  padding-left: 0px;
  padding-right: 0px;
}

.block-fg-wide {
  flex: 1 1 auto;
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;  /* Enables absolute positioning of children in corners, etc */
  padding-left: 0px;
  padding-right: 0px;
}

.bottom-image {
  width: 80%;
  padding-left: 60px;
  padding-right: 60px;
}

.goal { /**/
  width: 100%;
  line-height: 200%;
  margin-top: 0px;
  margin-bottom: 32px;
  padding-left: 20px;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: var(--color-project-default);
}

.goal-keycons { /* Use together with goal, as "compound class" */
  border-left-color: var(--color-project-keycons);
}

.goal-nicu { /* Use together with goal, as a "compound class" */
  border-left-color: var(--color-project-nicu);
}


.client-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  line-height: 250%;
}

.drop-shadow {
  filter: drop-shadow(0px 0px 8px #26262655);
  
  /* option 2 copied from CSS Scan shadow #1, need to convert to drop-shadow */
  /* filter: drop-shadow(0px 7px 29px 0px  */
  
  /* option 3 from Figma */
  /* filter: drop-shadow(0px 4px 4px #62626214);
  filter: drop-shadow(0px 8px 32px #00000029); */
  
  /* option 4 copied from CSS Scan shadow #3, convert to drop-shadow */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

a.project-index-image {
  filter: brightness(100%);
}

a.project-index-image:hover {
  filter: brightness(110%);  
}

a.project-index-name:hover {
  color: var(--top-nav-link-color-hover);
}

.spacer-large {
  height: 48px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.spacer-medium {
  height: 32px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.spacer-small {
  height: 16px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}


.project-summary {
  display: flex; 
  flex-direction: row;
}


.project-grid-container {
  /* first breakpoint*/
  --w1:1600px;
  --n:4;
  /* second breakpoint*/
  --w2:900px;
  --m:3;
  /* third breakpoint*/
  --w3:700px;
  --p:2;

  /*
    Flexible grids with breakpoints are hard.
    We used the last approach from this tutorial:
    https://css-tricks.com/responsive-layouts-fewer-media-queries/
  */
  display: grid;
  grid-template-columns:
    repeat(auto-fill,
      minmax(clamp(clamp(clamp(  
        100%/(var(--n) + 1) + 0.1%,
          (var(--w1) - 100%)*1000,
        100%/(var(--m) + 1) + 0.1%), 
          (var(--w2) - 100%)*1000,
        100%/(var(--p) + 1) + 0.1%), 
          (var(--w3) - 100%)*1000,
        100%), 1fr));
  gap: 3%;
  margin: 0px;
}


.project-grid-tile {
  display: block;
  filter: brightness(100%);
}
.project-grid-tile:hover {
  filter: brightness(110%);  
}
.project-grid-tile-image {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.project-grid-tile-header {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 4px;
}
.project-grid-tile-footer-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;
}
.project-grid-tile-footer-blurb {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0px;
  color: var(--color-text-default);
}

/* Currently used in Vox Pulmini project page, but could be used more broadly (?) */
.indented {
  margin-left: 16px;
}

.prev-next-proj {
  margin-top: 20px;
  margin-bottom: 10px;
}

.prev-next-proj-separator {
  color: var(--prev-next-proj-link-color);
}

.prev-next-proj-link {
  font-family: var(--font-family-alt);
  font-size: 1.4rem;
  color: var(--prev-next-proj-link-color);
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px;
  white-space: nowrap;
}
.prev-next-proj-link:visited {
  color: var(--prev-next-proj-link-color);
  text-decoration: none;
}
.prev-next-proj-link:hover {
  color: var(--prev-next-proj-link-color-hover);
}
.prev-next-proj-link.home {
  font-family: var(--font-family-alt);
  font-size: 2.0rem;
}
.prev-next-proj-link.current {
  color: var(--prev-next-proj-link-color);
  text-decoration: none;
}



.hero-block-bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content-container {
  width: var(--content-width);
  display: flex;
  flex-direction: row;  
}

.hero-image-container {
  width: calc(var(--hero-img-width) - var(--hero-img-offset));
  overflow: visible;
  z-index: 1; /* Ensure contained image appears on top */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.hero-image-speakout {
  width: 100%;
}

.hero-image {
  width: 840px;
}

.hero-data-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100px;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 25px;
  padding-bottom: 60px;
  position: relative; /* So can hold absolute elements, e.g, inset image */
}

.hero-data-container-speakout {
  background-color: #EFDB73;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100px;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 25px;
  padding-bottom: 60px;
  position: absolute;
  right: 50px;
  top: 0px;
  bottom: 0px;
  width: 40%;
}

.hero-data-table {
  color: white;
  font-size: 1.5rem;
  border-spacing: 10px;
}

.hero-data-table-row {
  vertical-align: top;
}

.hero-data-heading {
  font-weight: 500;
}

.hero-data-line {
  font-weight: 300;
}

.hero-data-list {
  font-weight: 300;
  line-height: normal;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  /* list-style: disc;
  list-style-position:outside;
  margin-left: 12px; */
}

/* If bullets are included... */
.hero-data-list li::marker {
  font-size: 0.5em;
}

.hero-data-list-element:not(:last-child) {
  margin-bottom: 9px;
}

.hero-data-inset-image-container {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

.nicu-users-container {
  display: flex;
  flex-direction: row;
}

.nicu-user-circle {
  width: 140px; /* 167 */
  margin: 10px;
}


/* LAYOUT ADJUSTMENTS FOR PROJECTS SUMMARY... */
@media only screen and (max-width: 1100px) {
  
  .project-summary {
    flex-direction: column;
  }

  .nicu-users-container {
    flex-direction: column;
  }
  
  .header {
    width: calc(100vw - 40px);
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* VARIOUS LAYOUT ADJUSTMENTS FOR SMALL (TABLET) SCREENS... */
@media only screen and (max-width: 1280px) {

  .block-fg-wide {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-content-container {
    width: 100%;
    flex-direction: column;  
  }

  .hero-image-container {
    width: 100%;
    z-index: 1; /* Ensure contained image appears on top */
    justify-content: center;
  }

  .hero-image {
    width: 95%;
  }

  .hero-data-container {
    padding-left: 0px;
    padding-top:20px;
  }

  .hero-data-container-speakout {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 60px;
    position: relative; /* So can hold absolute elements, e.g, inset image */
    right: 0px;
  }

  .hero-data-table {
    width: var(--content-width-narrow);
  }

  .hero-data-inset-image-container {
    visibility: hidden;
  }

  .bottom-image {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }  
}


/* VARIOUS LAYOUT ADJUSTMENTS FOR SMALLER (PHONE) SCREENS... */
@media only screen and (max-width: 400px) {

  .header-line1-link {
    font-size: 1.4rem;
  }
  .header-line1-link.home {
    font-size: 1.9rem;
    line-height: 2.7rem;
  }

  .bottom-image {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }  
}