:root {
  --top-nav-link-color: #555;
  --top-nav-link-color-hover: #222;
  --color-text-default: #080707;
  --color-text-alt: #908f8f;
  --color-section-alt: rgba(13, 38, 18, 0.05);
  --color-keycons: #4cd964;
  --color-nicu: #006ba6;
  --font-family-default: "Open Sans", "Helvetica-Neue", sans-serif; 
  --font-family-alt: "Poppins", "Helvetica-Neue", sans-serif;
  --header-height: 110px;
}

/* Do you want to add this?
* {
  box-sizing: border-box;
}
*/

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: lightgray;
  font-family: var(--font-family-default);
  text-align: left;
  color: var(--color-text-default);
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: var(--font-family-alt);
  font-size: 3.8rem;
  font-weight: 500;
}

h2 {
  font-family: var(--font-family-alt);
  font-size: 3.2rem;
  font-weight: 600;
}

h2.companyname {
  color: var(--color-text-alt);
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-text-alt);
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 200%;
}

p.emphasis {
  font-weight: 600;
}

p.caption {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--color-text-alt);
}

a, a:visited {
  color: var(--top-nav-link-color);
  text-decoration: none;
}

a:hover {
  color: navy;
}


.usable-view {
  flex:1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  background-color: white;
}

.header-container {
  position: relative;
  flex: 0 0 var(--header-height);
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.header1 {
  position: absolute;
  z-index: 20;
  flex: 0 0 50px;
  width:100%;
  padding-top: 10px;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: white;
}

.header1-left {
  flex: 1;
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.header1-right {
  flex: 1;
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}

.header1-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.0rem;
  padding: 5px;
  color: var(--top-nav-link-color);
  text-decoration: none;
}

.header1-link:visited {
  color: var(--top-nav-link-color);
  text-decoration: none;
}

.header1-link:hover {
  color: var(--top-nav-link-color-hover)
}

.header1-link.home {
  font-size: 3.0rem;
}

.header1-link.current {
  color: var(--color-text-default);
  text-decoration: none;
}

.header2 {
  position: absolute;
  z-index: 10;
  bottom: 0;
  flex: 0 0 50px;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  padding-bottom: 10px;
}

.header2-title {
  font-size: 1.6rem;
  font-weight: 100;
}

.content-container {
  position: relative;
  flex: 0 0 calc(100vh - var(--header-height));
  display: block;
  flex-direction: column;
  width: 100%;
}

.content-edge-shadow {
  position: absolute;
  top: 0px;
  height: 25px;
  flex:0 0 20px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.03), rgba(0,0,0,0));
}

.content-scroll-view {
  height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}


