:root {
  --top-nav-link-color: blue;
}

body {
  background-color: white;
}

h1 {
  color:black;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}

a, a:visited {
  color: var(--top-nav-link-color);
  text-decoration: none;
}

.top-nav, .top-nav:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px;
  color: var(top-nav-link-color);
  text-decoration: none;
}


